@import url('https://cdn.credihome.com.br/static/icons/chicons.css');

body {
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ddc0a3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: 'Roboto'
}

html {background-color: #E5E5E5;
  scroll-behavior: smooth;
}

.wrapper {
    background-color: white;
    padding: 2em;
    margin: 1em;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(179,179,179,1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(179,179,179,1);
    box-shadow: 0px 2px 5px 3px rgba(179,179,179,1);
}

header {
    position: fixed;
    top: 0;
    background-color: #e2622e;
    width: 100%;
    left: 0;
    z-index: 3;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(179,179,179,1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(179,179,179,1);
    box-shadow: 0px 2px 5px 3px rgba(179,179,179,1);
    color: white;
    text-align: center;
}

main {
    width: 640px;
    padding-top: 6em;
    padding-left: 200px;
    margin: auto;
}

nav {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #e7dbd0;
    top: 0;
    padding-left: 12px;
    padding-top: 120px;
    box-shadow: 0px 2px 5px 3px rgba(179,179,179,1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 4px 8px;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

nav ul li:hover {
    font-weight: bold;
}

nav ul li a {
    color: #e2622e;
    text-decoration: none;
    font-size: larger;
}